* {
    text-align: center;
    margin: 2%;
    font-size: x-large;
    font-family: math;
}

#fb {
    width: 5%;
}

#ig {
    width: 5%;
}

a {
    text-decoration: inherit;
    color: black;
    text-decoration: none;
}

#gfm {
    width: 25%;
}

a {
    text-decoration: inherit;
    color: black;
}

#logo {
    width: 25%;
    border-radius: 25%;
}

/* body {
    background: #b41e2d;
} */

.card {
    background: #FF9800;
}


.card-body {
    background: #FF9800;
}


nav.navbar.navbar-expand-lg.bg-light {
    display: contents;
}

.container-fluid {
    /* background: #ff9800; */
    border-radius: 12px;
}