* {
    text-align: center;
    margin: 2%;
    font-size: x-large;
    font-family: math;
}

#logo {
    width: 25%;
    border-radius: 25%;
}

#fb {
    width: 5%;
}

#ig {
    width: 5%;
}

a {
    text-decoration: inherit;
    color: black;
}

body {
    background: #b41e2d;
}

.card {
    background: #FF9800;
}

nav {
    background: #FF9800;
}